header {
    grid-column: span 4;
    background-color: black;
    color: white;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    border: 10px solid white;
  }
#wrapper {
    margin: 1em auto;
    padding: 0;
    width: 960px;
    border: 1px solid #ff0000;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 5px solid black;
  }
  .floatimg {
    float: left;
  padding: 5px;
  border: 3px solid black;
  margin: 10px;
  }
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 10px;
    border-bottom: 3px solid black;
  }
  #textjustify {
    text-align: justify;
    margin-right: 10px;
  }
  nav {
    grid-column: span 1;
  }
  nav li a {
    display: block;
    background-color: red;
    border: 5px solid white;
    padding: 1em;
    color: white;
    text-decoration: none;
    grid-column: span 1;
  }
  nav li a:hover{
    display: block;
    background-color: darkred;
    border: 1px solid black;
    padding: 1em;
    color: white;
    text-decoration: none;
    grid-column: span 1;
  }
  body {
    background-image: url(a62.png);
}
#bold {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#imgborder {
    padding: 5px;
    border: 3px solid black;
}
main {
    grid-column: span 3;
}
#links {

}
#links a {
    font-weight: bold;
    color: red;
    text-decoration: none;
}
#links a:visited{
    font-weight: bold;
    color: red;
    text-decoration: none;
}
#links a:hover{
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 5px solid black;
    background-color: red;
    color: white;
    font-style: italic;
    grid-column: span 4;
    text-align: center;
}